#crudm-container {
    width: 100%;
    height: auto;
}

#crudm-container h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 15px;
}

#crudm-container .content {
    display: flex;
}

#crudm-container .content .meetings {
    flex-grow: 1;
}

#crudm-container .meetings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

#crudm-container .meeting p {
    margin: 5px 0;
}

#crudm-container .meeting {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.6rem;
    min-height: 250px;
    max-height: 450px;
    height: auto;
    max-width: 300px;
    word-wrap: break-word;
    background: white;
    box-shadow: 20px 30px 36px -13px rgba(136,136,136,0.54);
}

#crudm-container .meeting button {
    color: white;
    border-radius: 3px;
    border: 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color .2s;
    font-weight: bold;
    font-size: 1.6rem;
    background: #DE0700;
}

#crudm-container .meeting button:hover {
    background: #B90600;
}


