#edit-container {
    /* background: red; */
    height: 100%;
    width: 100%;
}

#edit-container .content {
    display: flex;
    align-items: center;
}

#edit-container h1 {
    text-align: center;
    color: #1abecb;
    font-size: 3rem;
    margin: 40px 0 30px 0;
}

#edit-container form {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #051441;
}

#edit-container form .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#edit-container form .input label {
    margin-bottom: 5px;
}

#edit-container form .input input, textarea {
    border: solid 1px #051441;
    border-radius: 3px;
    font-size: 1.6rem;
}

#edit-container form .input input {
    height: 35px;
    padding: 0 10px;
}

#edit-container form .input textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    /* width: 100ch; */
}

#edit-container form .input-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#edit-container form .input-group .input {
    width: 48%;
}

#edit-container form button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: #f4780e;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s;
}

#edit-container form button:hover {
    background: #DC6F10;
}

#edit-container .content .links {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#edit-container .links a {
    font-size: 3rem;
    font-weight: bold;
    color: #051441;
    text-decoration: none;
    text-align: center;
    transition: color .2s;
}

#edit-container .content .links a:hover {
    color: #17a2b8;
}
