#mr-container {
    width: 100%;
    height: auto;
}

#mr-container h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 15px;
}

#mr-container .content {
    display: flex;
}

#mr-container .content .rooms {
    flex-grow: 1;
}

#mr-container .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

#mr-container .room {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.6rem;
    min-height: 250px;
    max-height: 450px;
    height: auto;
    max-width: 300px;
    word-wrap: break-word;
    background: white;
    box-shadow: 20px 30px 36px -13px rgba(136,136,136,0.54);
}

#mr-container .room p,
#mr-container .room strong,
#mr-container .room h3 {
    margin-bottom: 5px;
}

#mr-container .room button {
    color: white;
    border-radius: 3px;
    border: 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color .2s;
    background: #17a2b8;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 5px;
}

#mr-container .room button:hover {
    background: #13889B;
}

